{% extends 'base.html.twig' %}

{% block content %}

<div class="container">
  {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  
  <h2 class="btn btn-secondary btn-lg btn-block">Vos raids en tant qu'organisateur {{user.username}}</h2>
  {% if raids_organisateurs %}
  
    <ul class="list-group flexcolumn">
    {% for raid in raids_organisateurs %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{raid.nom}}
        <div>
          <a href= {{ path('gestion_raid_description', {'id_raid': raid.id }) }}>Editer</a>
          <a href= {{ path('gestion_raid_organisateurs', {'id_raid': raid.id }) }}>Gérer les organisateurs</a>
        </div>
      </li>
    {% endfor %}
    </ul>

  {% else %}
    <p>Vous n'organisez pour le moment aucun RAID.</p>
  {% endif %}
</div>
{% endblock %}
