{% extends 'base.html.twig' %}

{% block content %}

<div class="container">
  <button type="button" class="btn btn-secondary btn-lg btn-block">Vos raids en tant qu'organisateur {{user.name}}</button>
  <br/>

  <ul class="list-group">
    {% for raid in raids_organisateurs %}
    <a href= {{ path('description_organisateur_raid', {'id':raid.idRaid} ) }}>
      <li class="list-group-item">{{raid.nom}}</li>
    </a>
    {% endfor %}
    
    <a href= {{ path('create_raid') }}>
      <i class="fas fa-3x fa-plus-circle"></i>
    </a>
  </ul>

  <button type="button" class="btn btn-secondary btn-lg btn-block">Vos raids en tant que bénévoles {{user.name}}</button>
  <br/>

  <ul class="list-group">
    {% for raid in raids_benevoles %}
      <a href= {{ path('create_raid') }}>
        <li class="list-group-item">{{raid.nom}}</li>
      </a>
  {% endfor %}
  </ul>

  <button type="button" class="btn btn-primary btn-lg btn-block">Tous les raids</button>

  <ul class="list-group flexcolumn">
  {% for raid in all_raids %}
    <li class="list-group-item text-left">
      {{raid.nom}}
      <a href= {{ path('post_benevole_one_raid', {'id_raid': raid.id, 'id_user': user.id}) }}>
        Rejoins-nous!
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </li>
  {% endfor %}
  </ul>

</div>
{% endblock %}
