<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Raid Tracker</h3>
        </div>

        <ul class="list-unstyled components">
            <li style="background-color: #80BA75">
                <a href={{ path('landing') }}>Accueil</a>
            <li>
            <li>
                <a href={{ path('landing_invitation') }}>Inviter bénévoles</a>
            </li>
            <li style="background-color: #80BA75">
                <a href={{ path('landing_gerer_raid') }}>Gérer mes Raids</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <p class="nav navbar-nav ml-auto">
                        Bonjour <span style="font-weight:500;margin-left:0.5rem;">{{user.username}}</span>
                        <a href= {{ path('logout') }}>
                            <i class="fas fa-sign-out-alt" style="color:red; margin-left:1rem;"></i>
                        </a>
                    </p>
                </div>
            </div>
        </nav>
