{% extends 'base.html.twig' %}

{% block content %}
<div class='vertical-center'>
    <div class="container col col-md-4">
            <div class="card default-color-dark ">
                {{ form_start(edit_form, {'attr': {'class': 'center border border-light p-5'}}) }}
                    <p class="h4 mb-4 text-center">Edition du Parcours</p>

                    <div class="form-row mb-4">
                        <div class="col">
                            {{ form_row(edit_form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-row mb-4">
                        <div class="col">
                            {{ form_row(edit_form.type, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-row mb-4">
                        <div class="col">
                            {{ form_row(edit_form.etat, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-row mb-4">
                        <div class="col">
                            <button class="btn btn-info my-4 btn-block" type="submit">Editer le parcours</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-info my-4 btn-block" type="reset">Réinitialiser</button>
                        </div>
                    </div>
                {{ form_end(edit_form) }}
          </div>
    </div>
</div>
{% endblock %}
