{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parcours</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parcours.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ parcours.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ parcours.type }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{% if parcours.etat %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href={{ path('parcours_index') }}>Back to the list</a>
        </li>
        <li>
            <a href={{ path('parcours_edit', { 'id': parcours.id }) }}>Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
