{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <ul class="list-group">
        <button type="button" class="btn btn-primary btn-lg btn-block">Gestiion des postes</button>

        <ul class="list-group">
        {% for poste in all_postes %}
            <li class="list-group-item text-left">
                {{ poste.idBenevole.idUser.username}} -
                {{ poste.idPoste.type}} -
                {{ poste.idPoste.heureDebut }} -
                {{ poste.idPoste.heureFin}}

              {#    {{ dump(poste)}} #}

               <a href= {{ path('choix_bene_defi', {'iduser': poste.idBenevole.idUser.id,'idraid':poste.idBenevole.idRaid.id, 'idposte':poste.idPoste.id }) }}>
                 Choisir
               </a>
            </li>

        {% endfor %}

        </ul>


    </ul>
</div>
{% endblock %}
