{% extends 'base.html.twig' %}

{% block content %}

<div class="container" data-token={{token}}>
    {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                    {{ message }}
            </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                    {{ message }}
            </div>
    {% endfor %}
    
    {% if est_organisateur %}
        <h1>Edition du RAID : {{raid.nom}}</h1>
        <h2>Liste des parcours</h2>
        {% if all_parcours != null %}
            <ul class="list-group">
                {% for parcours in all_parcours %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{parcours.nom}}
                        <div>
                            <a href= {{ path('carte_edit', {'id_raid': parcours.idRaid.id,'id_parcours': parcours.id} ) }}>Editer</a>
                            <button id={{parcours.id}} type="submit" class="btn btn-primary">Exporter</button>         
                        </div>
                    </li>                
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun parcours dans ce raid</p>
        {% endif %}
    
        <a href= {{ path('create_parcours',{'id':raid.id}) }}>
            Créer un nouveau parcours
            <i class="fas fa-3x fa-plus-circle"></i>
        </a>

        <h2>Gestion des bénévoles</h2>
        {% if all_repartitions != null %}
            <ul>
                {% for repartition in all_repartitions %}
                    <li class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">{{ repartition.idBenevole.idUser.username }}</label>
                        </div>
                        <select class="custom-select attribution-poste"
                            data-id-raid={{raid.id}} 
                            data-id-user={{repartition.idBenevole.idUser.id}}
                            data-id-poste={{repartition.idPoste.id}}
                            data-name-poste="{{repartition.idPoste.type}}">
                            <option selected="selected" value={{repartition.idPoste.id}}>Poste actuel : {{ repartition.idPoste.type }}</option>
                        </select>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun bénévole n'a été affecté à un poste pour le moment</p>
        {% endif %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            Vous n'êtes pas organisateur de ce RAID.<br>
            Merci de vous adresser à un des organisateurs pour accéder à cette page
        </div>
    {% endif %}
</div>

<script src={{asset('js/FileSaver.js')}}></script>
<script src={{asset('js/export_gpx.js')}}></script>
{% endblock %}