{% extends 'base.html.twig' %}

{% block content %}
    <h1>Raids list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Dateraid</th>
                <th>Edition</th>
                <th>Typesport</th>
                <th>Nbrsport</th>
                <th>Typesurface</th>
                <th>Equipe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for raid in raids %}
            <tr>
                <td><a href="{{ path('raid_show', { 'id': raid.id }) }}">{{ raid.id }}</a></td>
                <td>{{ raid.nom }}</td>
                <td>{% if raid.dateRaid %}{{ raid.dateRaid|date('Y-m-d') }}{% endif %}</td>
                <td>{{ raid.edition }}</td>
                <td>{{ raid.typeSport }}</td>
                <td>{{ raid.nbrSport }}</td>
                <td>{{ raid.typeSurface }}</td>
                <td>{{ raid.equipe }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('raid_show', { 'id': raid.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('raid_edit', { 'id': raid.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('raid_new') }}">Create a new raid</a>
        </li>
    </ul>
{% endblock %}
