{% extends 'base.html.twig' %}

{% block javascripts %}    
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="container">

        <h1>Description du RAID : {{raid.nom}}</h1>
        {% if posteRepartis %}
                <h2>Vous êtes affectés aux postes suivants</h2>
                <ul class="list-group">
                {% for repartition in all_repartitions %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                        Poste : {{ repartition.idPoste.type}}<br />
                                        Heure de début : {{ repartition.idPoste.heureDebut|date('H:i', "Europe/Paris") }}<br />
                                        Heure de fin : {{ repartition.idPoste.heureFin|date('H:i', "Europe/Paris") }}
                                </div>
                        </li>
                {% endfor %}
        {% else %}
                Vous n'êtes pas encore choisi pour un poste
                <a href="{{ path('landing') }}">Retour à la page d'accueil </a>
        {% endif %}
</div>
{% endblock %}
