{% extends 'base.html.twig' %}

{% block body %}
    <h1>Raid</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ raid.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ raid.nom }}</td>
            </tr>
            <tr>
                <th>Dateraid</th>
                <td>{% if raid.dateRaid %}{{ raid.dateRaid|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Edition</th>
                <td>{{ raid.edition }}</td>
            </tr>
            <tr>
                <th>Typesport</th>
                <td>{{ raid.typeSport }}</td>
            </tr>
            <tr>
                <th>Nbrsport</th>
                <td>{{ raid.nbrSport }}</td>
            </tr>
            <tr>
                <th>Typesurface</th>
                <td>{{ raid.typeSurface }}</td>
            </tr>
            <tr>
                <th>Equipe</th>
                <td>{{ raid.equipe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('raid_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('raid_edit', { 'id': raid.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
