<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Raid Tracer</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="{{ asset('css/styles_FC.css') }}" rel="stylesheet" type="text/css" />

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

{% block content %}
<div class='vertical-center'>
<div class='container col col-md-4'>
<div class="card default-color-dark">
{{ form_start(form, {'attr': {'class': 'center border border-light p-5'}}) }}
    <p class="h4 mb-4 text-center">Créer un compte</p>
    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-row mb-4">
        <div class="col">
            <!-- E-mail -->
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-row mb-4">
        <div class="col">
            <!-- Password -->
            {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            <!-- Password -->
            {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-center text-muted mb-4">
        Au moins 8 charactères dont 1 chiffre
    </small>

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Créer un compte</button>

    <hr>

    <!-- Terms of service -->
    <p class="text-center">En cliquant sur
        <em>Créer un compte</em> vous acceptez les
        <a href="" target="_blank">Conditions d'utilisation</a> et la
        <a href="" target="_blank">Politique de confidentialité</a>. 
    </p>
{{ form_end(form) }}
</div>
</div>
</div>
{% endblock %}